html{
    padding: 0%;
    background-color: black;
}

/*Variables de mi raiz*/
:root{
    /*Colores globales*/
    --verde--esmeralda:#50C878;

    /*Tipografia*/
    --fuente-titulo:'Georgia', 'Times New Roman', serif;
    --fuente-cuerpo:'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}



#encabezado{
    color: greenyellow;
    text-align: center;
    margin: 20px;
}

.introduccion{
    color: white;
    text-align: justify;
}

#navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verde--esmeralda);
    border: 0.2rem solid whitesmoke;
    padding: 15px 30px;

}

.links_navegacion{
    display: flex;
    list-style: none;
}

/* Estilo de los enlaces individuales (li) */
.links_navegacion li {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease; /* Transición suave para el efecto Hover */
    margin-left: 20px;
}

/* Efecto al pasar el cursor sobre los enlaces */
.links_navegacion li:hover {
    color: #1800f3; /* Cambia a un azul claro */
}


/*================================================
Sobre mi
==================================================*/

/*Colores y fuentes de la section Sobre mi*/

.Sobre_mi{

}

.Sobre_mi h2{
    width: fit-content;
    margin: 0 auto; /* <- ESTO LO CARDINALIZA AL CENTRO */
    border: 0.5rem solid rgb(50, 0, 158);
    padding: 5px 10px;
    color: white;
    
    
}

.Sobre_mi p{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}